<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Random NPCS</title>
  </head>
  <body>
    
    <div>
        <div id="npcs">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1" v-on:click="generate">Generate</button>
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="clear">Clear</button>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="npc_power">
                <option selected value="0">Power 0</option>
                <option value="1">Power 1</option>
                <option value="2">Power 2</option>
                <option value="3">Power 3</option>
              </select>
            </div>
            <input type="text" class="form-control" placeholder="0" v-model="npc_number">
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">ATT</th>
                <th scope="col">DEF</th>
                <th scope="col">SHIELD</th>
                <th scope="col">STR</th>
                <th scope="col">MOVE</th>
                <th scope="col">WEAPON</th>
                <th scope="col">ARMOR</th>
                <th scope="col">HP</th>
                <th scope="col">DMG</th>
                <th scope="col">MAGIC</th>
                <th scope="col">CASTED</th>
                <th scope="col">*</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(npc, index) in npcs">
                <td>{{ index+1 }}</td>
                <td>{{ npc.name }}</td>
                <td><input type="text" class="form-control form-control-sm" v-model="npc.att" maxlength="2" size="2"></td>
                <td><input type="text" class="form-control form-control-sm" v-model="npc.def" maxlength="2" size="2"></td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" class="form-control form-control-sm" v-model="npc.shield" maxlength="1" size="1" v-if="npc.shield > 0">
                        </div>
                        <div class="col-sm">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                              <a role="button" class="btn btn-success btn-xsm" v-on:click.prevent="addShield(index)">+</a>
                              <a role="button" class="btn btn-warning" v-on:click.prevent="removeShield(index)">-</a>
                            </div>
                        </div>
                    </div>
                  
                </td>
                <td>{{ npc.STR }}</td>
                <td>{{ npc.move }}</td>
                <td><span v-tooltip:auto="npc.weapon.description">{{ npc.weapon.name }}</span></td>
                <td>{{ npc.armor }}</td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" class="form-control form-control-sm" v-model="npc.hp" maxlength="2" size="2">
                        </div>
                        <div class="col-sm btn-group btn-group-sm">
                            <a role="button" class="btn btn-info btn-xsm" v-on:click.prevent="kill(index)">Kill</a>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" maxlength="6" size="6" v-if="npc.hp > 0">
                </td>
                <td><span v-if="npc.magicPower > 0" v-tooltip:auto="npc.magic.description">{{ npc.magicPower }}:{{ npc.magic.name }}</span></td>
                <td><span v-if="npc.magicPower > 0"><input type="checkbox" aria-label="spell is cast"></span></td>
                <td><span class="badge badge-danger" v-if="npc.hp <= 0">DEAD</span></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="name_generator.js"></script>
    <script type="text/javascript" src="egyptian_set.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>

  </body>
</html>